header {
    padding: 10px;
}

ul {
    display: flex;
    gap: 20px;

    li {
        list-style-type: none;
        font-size: 0.8rem;

        &:hover {
            color: #0c7cec;
            border-bottom: 2px solid #0c7cec;
        }
    }
}

.jumbotron {
    background-image: url('../../public/img/jumbotron.jpg');
    background-position: top;
    height: 400px;
}